language: python
sudo: false

cache:
    directories:
        - $HOME/.cache/pip

python:
    - "2.7"
install:
    - pip install -U pip
    - pip install -r requirements.txt pytest flake8
script:
    - py.test --config=configs/test.ini
    - flake8 .
notifications:
    email: false
    irc: "irc.freenode.org#topaz"
