<!DOCTYPE html>
<html land="en">
    <head>
        <meta charset="utf-8" />
        <title>Topaz | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.css" />
        <link rel="stylesheet" href="/static/css/site.css" />
        <!--[if lt IE 9]>
            <script type="text/javascript" src="/static/js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container-narrow">
            <div class="masthead">
                <h3 class="muted">Topaz Nightly Builds</h3>
            </div>
            <hr />
            {% block body %}{% endblock %}
            <hr />
            <div class="footer">
                <p>
                    &copy; Alex Gaynor and individual contributors.
                    <a href="http://github.com/topazproject/topaz-site">Open Source Software</a>.
                    To learn more about Topaz <a href="http://docs.topazruby.com/">read the documentation!</a>
                </p>
            </div>
        </div>
        {% block extra_js %}{% endblock %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-38369786-1']);
            _gaq.push(['_setDomainName', 'topazruby.com']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
