{% extends "base.html" %}

{% block title %}Nightly Builds{% endblock %}

{% block body %}
    <div class="btn-group">
        <a href="/builds/" class="btn{% if not current_platform %} active{% endif %}">All Platforms</a>
        {% for platform in platforms %}
            <a href="/builds/{{ platform }}/" class="btn{% if platform == current_platform %} active{% endif %}">{{ platform }}</a>
        {% endfor %}
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>git Commit SHA1</th>
                <th>Platform</th>
                <th>Build time</th>
                <th>Download</th>
                <th>Success</th>
            </tr>
        </thead>
        <tbody>
            {% for build in builds %}
                <tr class="{% if build.success %}success{% else %}error{% endif %}">
                    <td>
                        <a href="https://github.com/topazproject/topaz/commit/{{ build.sha1 }}">{{ build.sha1 }}</a>
                    </td>
                    <td>{{ build.platform }}</td>
                    <td>
                        <abbr title="{{ build.timestamp.isoformat() }}Z" class="timeago">
                            {{ build.timestamp }} UTC
                        </abbr>
                    </td>
                    <td>
                        <a href="http://builds.topazruby.com/{{ build.filename }}">Download!</a>
                    </td>
                    <td>
                        <i class="{% if build.success %}icon-ok{% else %}icon-ban-circle{% endif %}"></i>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.timeago.js"></script>
    <script type="text/javascript">
        $(function() {
            $("abbr.timeago").timeago();
        })
    </script>
{% endblock %}
